{% extends "djbeagle/base.html" %}

{% block extrajs %}
	<script type="text/javascript" src="{{ STATIC_URL }}search.js"></script>
{% endblock extrajs %}

{% block content %}
  <div class="container">
    <form action="{% url djbeagle.views.search %}" method="POST">
      <legend>
      Please enter search criteria and choose which search engines you would like to use.
      </legend>
      {% csrf_token %}
      <label>Name</label>
      <input type="text" name="name"/>
      <label>Enter Search Criteria</label>
      <input type="text" name="criterion"/>
      {% for title in engine_list %}
        <label class="checkbox">
          <input type="checkbox" name="engine" value="{{ title }}" >{{ title }}
        </label>
      {% endfor %}
      <input type="submit" id="searchButton" value="Submit" class="btn btn-primary">
    </form>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Criteria</th>
            <th>Engines</th>
            <th>Articles</th>
            <th>Date</th>
            <th></th>
        </thead>
        <tbody>
        {% for search in search_list %}
          <tr data-id="{{ search.id }}">
            <td><a href="{% url search_url search.id %}">{{ search.name }}</a></td>
            <td>{% for criteria in search.criteria.all %}{{ criteria.search_string }}{% endfor %}</td>
            <td>{% for engine in search.engines.all %}{{ engine.name }}{% endfor %}</td>
            <td>{{ search.articles.count }}</td>
            <td class="span3">{{ search.date }}</td>
            <td><i class="clickable icon-trash delete-search"></i></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}
