{% extends "djbeagle/base.html" %}

{% block extrajs %}
	<script type="text/javascript" src="{{ STATIC_URL }}search.js"></script>
{% endblock extrajs %}

{% block content %}
  <div class="container">
    <form class="form-horizontal" action="{% url djbeagle.views.search %}" method="POST">
      <legend>
      Please enter search criteria and choose which search engines you would like to use.
      </legend>
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" name="name" placeholder="Name"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="criterion">Enter Search Criteria</label>
        <div class="controls">
          <input type="text" name="criterion"/>
          <i id="add_criterion" class="clickable icon-plus"></i>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
        {% for title in engine_list %}
          <label class="checkbox">
            <input type="checkbox" name="engine" value="{{ title }}" >{{ title }}
          </label>
          </label>
        {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" id="searchButton" value="Submit" class="btn btn-primary">
        </div>
      </div>
    </form>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Criteria</th>
            <th>Engines</th>
            <th>Articles</th>
            <th>Date</th>
            <th></th>
        </thead>
        <tbody>
        {% for search in search_list %}
          <tr data-id="{{ search.id }}">
            <td><a href="{% url search_url search.id %}">{{ search.name }}</a></td>
            <td>{% for criteria in search.criteria.all %}<p>{{ criteria.search_string }}</p>{% endfor %}</td>
            <td>{% for engine in search.engines.all %}<p>{{ engine.name }}</p>{% endfor %}</td>
            <td>{{ search.articles.count }}</td>
            <td class="span3">{{ search.date }}</td>
            <td><i class="clickable icon-trash delete-search"></i></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}
