<!DOCTYPE html>
<html lang="en-us">
	<head>
		<link href="{{ DJBEAGLE_MEDIA_PREFIX }}style.css" rel="stylesheet" type="text/css" />
		<link href="{{ DJBEAGLE_MEDIA_PREFIX }}grid.css" rel="stylesheet" type="text/css" />
		{% block extracss %}{% endblock extracss %}

		<script type="text/javascript" src="{{ DJBEAGLE_MEDIA_PREFIX }}jquery.js"></script>
		{% block extrajs %}{% endblock extrajs %}

        <title>{% block title %}DJBeagle{% endblock title %}</title>
        {% block head %}{% endblock head %}
		    
    </head>

    <body>
        {% autoescape on %}
        {% block body %}
        {% endblock body %}
        <div class="container_12">
            <div id="navigation" class="grid_12">
                <ul class="grid_12">
                    <li class="grid_2 push_1">DJBeagle</li>
                    {% if user.username %}
                    <li class="grid_2 push_7 prefix_1" style="color: red;">{{ user.username }}</li>
                    <li class="grid_1 push_8"><a href="{% url django_openid_opus.views.logout_view %}">Logout</a></li>
                    {% else %}
                    <li class="grid_1 push_10">Login</li>
                    {% endif %}
                </ul>
            </div>
        {% block content %}
        {% endblock content %}
        </div>
    
        {% endautoescape %}
	</body>
</html>
