<!DOCTYPE html>
<html lang="en-us">
	<head>
		<link href="{{ DJBEAGLE_MEDIA_PREFIX }}style.css" rel="stylesheet" type="text/css" />
		<link href="{{ DJBEAGLE_MEDIA_PREFIX }}fluid_grid.css" rel="stylesheet" type="text/css" />
		{% block extracss %}{% endblock extracss %}

		<script type="text/javascript" src="{{ DJBEAGLE_MEDIA_PREFIX }}jquery.js"></script>
		{% block extrajs %}{% endblock extrajs %}

        <title>{% block title %}DJBeagle{% endblock title %}</title>
        {% block head %}{% endblock head %}
		    
    </head>

    <body>
        {% autoescape on %}
        {% block body %}
        {% endblock body %}
        <div class="container_12">
            <div id="navigation" class="grid_12">
            </div>
        {% block content %}
        {% endblock content %}
        </div>
    
        {% endautoescape %}
	</body>
</html>
