{% extends "djbeagle/base.html" %}
{% block content %}
    <div class="grid_8 searchBox push_4">
        <p>
        Please enter search criteria and choose which search engines you would like to use.
        </p>
        <div class="grid_8">
            <input class="grid_3" type="text" name="search_criteria" /><button name="Search">Search</button>
        </div>
        <div class="grid_8">
            <input type="checkbox" name="google_scholar" ><label>Google Scholar</label></input>
        </div>
        <div class="grid_8">
            <input type="checkbox" name="acmportal" ><label>ACM Portal</label></input>
        </div>
        <div class="grid_8">
            <input type="checkbox" name="citeseerx" ><label>CiteSeerX</label></input>
        </div>
        <div class="grid_8">
            <input type="checkbox" name="ieeexplore" ><label>IEEEXplore</label></input>
        </div>
    </div>
{% endblock content %}
