body {
    margin: 0;
}

ul,li,a, a:visited {
    list-style: none;
    text-decoration: none;
    color: black;
}
.searchBox {
    top: 200px;
}

#navigation {
    border-bottom: 1px solid #04859D;
}

.username {
    text-align: right;
}
